<?php
$CONFIG = array (
  'instanceid' => 'CHANGE_ME',
  'passwordsalt' => 'CHANGE_ME',
  'secret' => 'CHANGE_ME',
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => '127.0.0.1',
    2 => '192.168.x.x',
    3 => 'nextcloud.tudominio.workers.dev',
  ),
  'datadirectory' => '/data/data/com.termux/files/home/nextcloud_data',
  'dbtype' => 'mysql',
  'version' => '31.0.0',
  'overwrite.cli.url' => 'https://nextcloud.tudominio.workers.dev',
  'dbname' => 'nextcloud',
  'dbhost' => '127.0.0.1',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'ncuser',
  'dbpassword' => 'CHANGE_ME',
  'installed' => true,
  'overwriteprotocol' => 'https',
  'overwritehost' => 'nextcloud.tudominio.workers.dev',
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
    'host' => '127.0.0.1',
    'port' => 6379,
  ),
  'log_type' => 'file',
  'logfile' => '/data/data/com.termux/files/home/nextcloud_data/nextcloud.log',
  'loglevel' => 2,
  'log_rotate_size' => 10485760,
);
